.no-page{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
}

.err-container{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}