/* Font and variable setup */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&display=swap');

:root{
    --vmax-em: 0.95542vmax; /* 1em == 15pt in vmax */
    --vmin-em: 1.55709vmin; /* 1em == 15pt in vmin */
}

/* Utility styles */
.navy-blue{
    background-color: #003A82;
}

.green{
    background-color: #23A950;
}

.cyan{
    background-color: #00A794;
}

.azure-blue{
    background-color: #006EE0;
}

/* General element styles */
*{
    line-height: normal;
    font-weight: 400; /* Regular */
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

body{
    font-family: "Nunito Sans", /* Our custom font import order*/
    "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Bootstrap sans-serif font imports */
    margin: 0;
}

div{
    line-height: 0;
}

h3{
    font-weight: 900; /* Black */
    color: #7413DC;
    font-size: calc(var(--vmin-em) * 2.5);
    margin: 0;
    line-height: 1;
    letter-spacing: normal;
}

/* General Page styles */
.page{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    overflow: hidden;
}

.page-container{
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

.vertical-center{
    justify-content: center;
    align-content: center;
}

.app-container{
    position: relative;

    height: 90vmin;
    width: calc(90vmin * 1.5); /* width = 1.5* height */
    margin: auto;
    background-color: white;
    padding-left: calc(90vmin * 1.5 * 0.021); /* L/R padding is 4.2% of width */
    padding-right: calc(90vmin * 1.5 * 0.021); /* L/R padding is 4.2% of width */
}

.static-container{
    align-items: center;
}