/* Header styles */
.report-header{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: calc(var(--vmin-em) * 0.5);
    margin-right: calc(var(--vmin-em) * 2);
    margin-bottom: calc(var(--vmin-em) * 1.5);
    padding-top: calc(var(--vmin-em) * 2);
}

.trend-svg{
    width: calc(var(--vmin-em) * 1.5);
}

.legend br{
    line-height: 0;
}

.legend-text{
    display: inline-block;
    font-size: calc(var(--vmin-em) * 0.9);
    margin: calc(var(--vmin-em) * 0.2);
}

.legend-entry{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.legend-entry span{
    margin-left: calc(var(--vmin-em) * 0.5);
}

.logo{
    text-align: center;
    max-width: calc(var(--vmin-em) * 17);
}

.logo-image{
    width: calc(var(--vmin-em) * 9.375);
    height: auto;
    /* As we're using a <img src=svg> rather than inline we can't use fill: #7413DC. Filter from codepen.io/pen/Pjoqqp */
    filter: invert(12%) sepia(100%) saturate(5969%) hue-rotate(272deg) brightness(87%) contrast(101%);
}

.logo-text{
    display: block;
    margin: auto;
    font-weight: 900; /* Black */
    font-size: calc(var(--vmin-em) * 1.25);
    color: #7413DC;
}

/* Compliance components styles */
.compliance-components{
    display:flex;
    justify-content: space-between;
}

.compliance-components > div{
    color: white;
    width: 12.15%;
    height: 62vh;
    padding: calc(var(--vmin-em) * 1);
    border-radius: calc(var(--vmin-em) * 1.25);
}

.component-info{
    display: flex;
    flex-direction: column;
}

.component-info > div{
    flex-basis: 0;
}

.component-info > div > div > span{
    font-size: calc(var(--vmin-em) * 0.8);
}

.component-label{
    font-size: calc(var(--vmin-em) * 0.975);
    line-height: 0;
    height: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    transform: translateY(calc(var(--vmin-em) * -1));
}

.component-header{
    font-weight: 900; /* Black */
    font-size: calc(var(--vmin-em) * 1.1);
    padding: 0 0 calc(var(--vmin-em) * 1);
    margin: 0;
    letter-spacing: normal;
}

span.component-description{
    font-size: calc(var(--vmin-em) * 0.975);
}

.component-summary{
    flex-grow: 2;
}

.component-stats-1{
    flex-grow: 3;
}

.component-stats-3{
    flex-grow: 1;
}

.component-stats > div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: calc(var(--vmin-em) * 2.4);
    padding: calc(var(--vmin-em) * 0.3) calc(var(--vmin-em) * 0.65);
    border-radius: calc(var(--vmin-em) * 0.3);
    margin-left: calc(var(--vmin-em) * -0.3);
    margin-right: calc(var(--vmin-em) * -0.3);
    align-items: center;
}

.component-aim{
    background-color: white;
    color: black;
}

.compliant{
    background-color: green;
}

.non-compliant{
    background-color: red;
}

.roles-reminder{
    position: absolute;
    width: 60vmin;
    right: 5vmin;
    bottom: 25vmin;
    text-align: center;
    background-color: #FFC000;
    padding: calc(var(--vmin-em) * 0.33);
    font-size: calc(var(--vmin-em) * 1.1);
}

/* Footer styles */

.report-footer{
    padding-top: calc(var(--vmin-em) * 2);
    padding-bottom: calc(var(--vmin-em) * 2);
}

/* Download popup */
.popup{
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 500;
    -webkit-box-shadow:  0 0 0 9999px rgba(0, 0, 0, 0.5);
    box-shadow:  0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.popup p{
    text-align: center;
    font-weight: 900;
}

.popup svg{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}

.popup hr{
    margin-top: 0;
}