.home-page{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
}

.home{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.home span{
    line-height: 1.5;
    margin:  calc(var(--vmin-em) * 1);
}