.new-upload{
    width: 50%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.new-dashboard-container{
    position: relative;

    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    /*justify-content: center;*/

    height: 90vmin;
    width: calc(90vmin * 1.5); /* width = 1.5* height */
    margin: auto;
    background-color: white;
    padding-left: calc(90vmin * 1.5 * 0.021); /* L/R padding is 4.2% of width */
    padding-right: calc(90vmin * 1.5 * 0.021); /* L/R padding is 4.2% of width */
}

.new-dashboard-page{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    overflow: hidden;
}